<!doctype html>
<html>
<head>
    <title>Examples - Angular Imgur Uploader</title>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="dist/imgur-uploader.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script>
    angular.module('exampleApp', ['imgurUploader'])
        .config(function(imgurProvider) {
            imgurProvider.setClientId('8fa733024dad604')
        })
        .controller('ExampleCtrl', function($scope, imgur) {
            $scope.mode = {upload: true};
            $scope.image = {description: ''};

            $scope.uploadImage = function() {
                var file = document.getElementById('image').files[0];
                imgur.uploadBase64(file, $scope.image.description).then(function(response) {
                    $scope.mode.upload = false;
                    $scope.image.description = '';
                    $scope.imageLink = response.data.data.link;
                });
            };
        });
    </script>
</head>
<body ng-app="exampleApp">

    <div ng-controller="ExampleCtrl" class="container">
        <div class="well">
            <h1>My Image Upload App</h1>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <form ng-if="mode.upload">
                <div class="form-group">
                    <label>Image</label>
                    <input id="image" type="file" class="form-control">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <input type="text" ng-model="image.description" class="form-control">
                </div>

                <input type="submit" value="Upload" class="btn btn-success"
                    ng-click="uploadImage()">
            </form>

            <form ng-if="!mode.upload">
                <div class="alert alert-success">Uploaded!</div>

                <div class="form-group">
                    <label>Link</label>
                    <a ng-href="{{imageLink}}" class="form-control">{{imageLink}}</a>
                </div>

                <button class="btn btn-primary" ng-click="mode.upload = true">
                    Upload Another
                </button>
            </form>
        </div>
    </div>

</body>
</html>
